header.masthead {
  text-align: center;
  color: #606060;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50%;
  background-size: cover;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810!important;
  border-color: #fec810!important;
  color: #fff;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

